.additional-products-card__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.additional-products-card__title {
  display: block;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: @title-font;
  color: @card-main-product-title;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products-card__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 14px;

  font-size: 14px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    justify-content: end;
    width: auto;
    margin: 0;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 286px;
  }
}

.additional-products-card__price {
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-left: 50px;
  }
}

.additional-products-card__link {
  display: block;
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 354px;
    margin-left: 40px;
  }
}
