.advantages__title {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: @title-font;
}

.advantages__list {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  list-style: none;
}

.advantages__item {
  margin-bottom: 26px;
  padding-left: 80px;

  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}
