.card-main-product__title {
  margin: 0;
  margin-bottom: 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: @title-font;
  color: @card-main-product-title;
  text-transform: uppercase;
}

.card-main-product__title--all-products {
  margin-bottom: 8px;

  color: @dark-grey-1;
  text-align: center;
}

.card-main-product__title-link {
  color: @card-main-product-title;
}

.card-main-product__list {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: @main-font;
  color: @dark-grey-4;
}

.card-main-product__description {
  margin: 0;
}

.card-main-product__text {
  margin-bottom: 21px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: @main-font;
  color: @dark-grey-4;
  text-align: center;
}

.card-main-product__to-order {
  width: 100%;
}

.card-main-product__to-show {
  width: 100%;
}
