.main-products {
  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 33px;
  }
}

.main-products__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 9px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  @media (max-width: @tablet-width) {
    border-bottom: 1px solid @light-grey-2;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 30px;
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 28px;

    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.main-products__item {
  padding-top: 21px;
  padding-bottom: 15px;
  border-top: 1px solid @light-grey-2;

  @media (min-width: @tablet-width) {
    display: grid;
    width: 324px;
    padding-bottom: 19px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding-bottom: 15px;
  }
}

.main-products__item--all-products {
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 18px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 14px;
  }
}

.main-products__card {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding-right: 37px;
    padding-left: 37px;
    padding-bottom: 39px;

    margin: 0;
    width: auto;

    background-image: linear-gradient(to bottom, @basic-white 72px, @basic-grey 72px);
  }

  @media (min-width: @desktop-width) {
    padding-right: 38px;
    padding-left: 38px;

    background-image: linear-gradient(to bottom, @basic-white 80px, @basic-grey 80px);
  }
}
