.main-products__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 19px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 59px;
    align-items: end;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 62px;
  }
}

.main-products__item {
  padding-top: 8px;
  padding-bottom: 11px;
}

.main-products__card {
  padding-top: 11px;
  padding-bottom: 14px;
}
