.main-nav {
  display: none;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: @title-font;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: block;
    min-width: 440px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    min-width: 478px;

    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav--open {
  display: block;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;

  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    background-color: transparent;
  }
}

.main-nav__item {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @border-example;
  }

  @media (min-width: @tablet-width) {
    margin-right: 33px;
  }
}

.main-nav__item:last-child {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.main-nav__link {
  display: inline-block;
  width: 100%;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 20px;

  color: @basic-black;

  @media (min-width: @tablet-width) {
    padding: 9px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 6px 0;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__link--active {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @bg-green;
  }
}

.main-nav__list--index .main-nav__link--active {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid @basic-white;
  }
}

.main-nav__link--index {
  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}
