.page-header {
  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.page-header--catalog {
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.page-header--form {
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.page-header__wrapper {
  @media (min-width: @desktop-width) {
    min-height: 694px;
    background: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, @basic-white 0, @basic-white 50%, @bg-promo 50%, @bg-promo 100%);
    background-repeat: no-repeat;
    background-position: bottom right;

    @media (min-resolution: 2dppx) {
      background: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, @basic-white 0, @basic-white 50%, @bg-promo 50%, @bg-promo 100%);
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 720px 694px, auto;
    }
  }
}

.page-header__wrapper--catalog,
.page-header__wrapper--form {
  @media (min-width: @desktop-width) {
    min-height: 60px;
    background: @basic-white;
  }
}

.page-header__border {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @border-example;
  }
}

.page-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 320px;
  margin: 0 auto;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    width: 174px;
    margin: 0;
    margin-right: 90px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    margin-right: 170px;
  }
}

.page-header__wrapper-header {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 42px 110px;
    width: 1440px;
    margin: 0 auto;
  }
}

.page-header__img {
  width: 189px;

  @media (min-width: @tablet-width) {
    width: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
  }
}

.page-header__logo {
  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__toggle {
  position: relative;

  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: @basic-white;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__burger,
.page-header__burger::before,
.page-header__burger::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: @basic-black;
}

// .page-header__toggle--close .page-header__burger::before,
// .page-header__burger::after {
//   content: "";
// }

// .page-header__toggle--close .page-header__burger::before {
//   transform: translateY(-8px);
// }

// .page-header__toggle--close .page-header__burger::after {
//   transform: translateY(8px);
// }

// .page-header__toggle--open .page-header__burger {
//   height: 0;
// }

// .page-header__toggle--open .page-header__burger::before {
//   transform: rotate(45deg);
// }

// .page-header__toggle--open .page-header__burger::after {
//   transform: rotate(-45deg);
// }
