.page-main__title {
  margin: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: @title-font;
}

.page-main__title--catalog {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 62px;
  }
}
