.programs {
  margin-bottom: 27px;
  }

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 33px;

  background-color: @basic_grey;
}
