.promo {
  margin-bottom: 22px;

  background: url("../img/index-background-mobile@1x.jpg") no-repeat top center, linear-gradient(to bottom, @bg-promo 0, @bg-promo 305px, @basic-white 305px, @basic-white 100%);

  @media (min-resolution: 2dppx) {
    background: url("../img/index-background-mobile@2x.jpg") no-repeat top center, linear-gradient(to bottom, @bg-promo 0, @bg-promo 305px, @basic-white 305px, @basic-white 100%);
    background-size: 320px 305px, auto;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;

    background: @basic-white;
  }

  @media (min-width: @desktop-width) {
    background: transparent;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding-top: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 51px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: @title-font;
  color: @basic-white;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 36px;
    margin-left: 87px;

    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    max-width: 470px;
    margin-left: 80px;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 26px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: @title-font;
  color: @basic-white;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
    margin-left: 87px;

    font-size: 20px;
    line-height: 30px;
    color: @basic-black;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    max-width: 470px;
    margin-left: 80px;
    margin-bottom: 47px;
  }
}

.promo__img {
  margin: 0 auto;
  margin-bottom: 3px;

  width: 280px;
  vertical-align: top;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: -27px;
    left: 450px;
    width: 552px;
  }
}

.promo__img-button {
  @media (min-width: @tablet-width) {
    position: relative;
  }

  @media (min-width: @desktop-width) {
    position: static;
  }
}

.promo__selection-program {
  width: 100%;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 244px;
    top: 28px;
    left: 82px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin-left: 80px;
    margin-top: 0;
  }
}
