@basic-black: #000000;
@basic-grey: #f2f2f2;
@dark-grey-4: #444444;
@light-grey: #d9d9d9;
@light-grey-2: #ebebeb;
@light-grey-3: #d3d3d3;
@light-grey-4: #cdcdcd;
@basic-white: #ffffff;
@bg-promo: #5eaa2f;
@bg-green: #68b738;
@bg-example: #eaeaea;
@border-example: #e6e6e6;
@card-main-product-title: #222222;
@dark-grey-1: #111111;

@main-font: "Arial", "Tahoma", sans-serif;
@title-font: "Oswald", "Tahoma", sans-serif;

@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1440px;
